<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gate_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1455},{189,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,94}}</string>
                <key>sourceSize</key>
                <string>{189,94}</string>
            </dict>
            <key>home_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,840}}</string>
                <key>sourceSize</key>
                <string>{596,840}</string>
            </dict>
            <key>icon_start_build_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1177},{100,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
            <key>icon_start_build_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1551},{135,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,177}}</string>
                <key>sourceSize</key>
                <string>{135,177}</string>
            </dict>
            <key>icon_start_build_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1164},{200,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,177}}</string>
                <key>sourceSize</key>
                <string>{200,177}</string>
            </dict>
            <key>icon_start_build_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1441},{321,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,155}}</string>
                <key>sourceSize</key>
                <string>{321,155}</string>
            </dict>
            <key>icon_start_build_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{321,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,155}}</string>
                <key>sourceSize</key>
                <string>{321,155}</string>
            </dict>
            <key>icon_start_build_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1127},{321,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,155}}</string>
                <key>sourceSize</key>
                <string>{321,155}</string>
            </dict>
            <key>icon_start_build_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1471},{149,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,93}}</string>
                <key>sourceSize</key>
                <string>{149,93}</string>
            </dict>
            <key>icon_start_build_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,926},{228,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,75}}</string>
                <key>sourceSize</key>
                <string>{228,75}</string>
            </dict>
            <key>icon_start_build_14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1955},{159,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,64}}</string>
                <key>sourceSize</key>
                <string>{159,64}</string>
            </dict>
            <key>icon_start_build_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1761},{103,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,75}}</string>
                <key>sourceSize</key>
                <string>{103,75}</string>
            </dict>
            <key>icon_start_build_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1947},{150,55}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{150,55}}</string>
                <key>sourceSize</key>
                <string>{166,71}</string>
            </dict>
            <key>icon_start_build_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1956},{166,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,71}}</string>
                <key>sourceSize</key>
                <string>{166,71}</string>
            </dict>
            <key>icon_start_build_17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{315,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{315,155}}</string>
                <key>sourceSize</key>
                <string>{321,155}</string>
            </dict>
            <key>icon_start_build_18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1838},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>icon_start_build_19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{330,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,177}}</string>
                <key>sourceSize</key>
                <string>{330,177}</string>
            </dict>
            <key>icon_start_build_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1858},{95,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,161}}</string>
                <key>sourceSize</key>
                <string>{95,161}</string>
            </dict>
            <key>icon_start_build_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1838},{85,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,169}}</string>
                <key>sourceSize</key>
                <string>{85,169}</string>
            </dict>
            <key>icon_start_build_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1343},{110,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,192}}</string>
                <key>sourceSize</key>
                <string>{110,192}</string>
            </dict>
            <key>icon_start_build_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,844},{269,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,80}}</string>
                <key>sourceSize</key>
                <string>{269,80}</string>
            </dict>
            <key>icon_start_build_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1023},{322,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,102}}</string>
                <key>sourceSize</key>
                <string>{322,102}</string>
            </dict>
            <key>icon_start_build_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1755},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>icon_start_build_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1088},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>icon_start_build_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1694},{113,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,65}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
            <key>icon_start_build_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1279},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>icon_start_build_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1003},{226,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,83}}</string>
                <key>sourceSize</key>
                <string>{226,83}</string>
            </dict>
            <key>icon_start_build_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1755},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>icon_start_build_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1820},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>icon_start_build_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1829},{128,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,125}}</string>
                <key>sourceSize</key>
                <string>{128,125}</string>
            </dict>
            <key>icon_start_build_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1622},{105,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>icon_start_build_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1088},{204,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,74}}</string>
                <key>sourceSize</key>
                <string>{204,74}</string>
            </dict>
            <key>icon_start_build_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1755},{72,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,139}}</string>
                <key>sourceSize</key>
                <string>{72,139}</string>
            </dict>
            <key>icon_start_build_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1688},{130,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,175}}</string>
                <key>sourceSize</key>
                <string>{130,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home.pvr.ccz</string>
            <key>size</key>
            <string>{612,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fcd1831dbe9f1f889d119f4d470de24:1/1$</string>
            <key>textureFileName</key>
            <string>home.pvr.ccz</string>
        </dict>
    </dict>
</plist>
